@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerRegular.woff2') format('woff2'),
        url('../assets/fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerMedium.woff2') format('woff2'),
        url('../assets/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerRegularItalic.woff2') format('woff2'),
        url('../assets/fonts/MullerRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerBold.woff2') format('woff2'),
        url('../assets/fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerLightItalic.woff2') format('woff2'),
        url('../assets/fonts/MullerLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}