@import "~normalize.css";
@import "roboto.css";

body {
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 250, 110, .3);
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/img/icon-square-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}